@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="@theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Stellar Jade Manager
        <MudSpacer/>
        <MudImage Width="32" Height="32" Src="images/stellarJade.webp"></MudImage>
        
        @* <MudTextField Style="width:100px" Class="mx-2" FullWidth="false" @bind-Value='currentGems' T="int" Variant="Variant.Outlined"/> *@
        
        <MudTooltip>
            <ChildContent>
               <p class="mr-6">@currentGems</p>
            </ChildContent>
            <TooltipContent>
                <div class="d-flex flex-row">
                    <MudImage Width="20" Height="20" Src="images/warp.webp"></MudImage>
                    <MudText>@(currentGems/160)</MudText>
                </div>
            </TooltipContent>
        </MudTooltip>


        <MudAvatar>
            <MudImage Class="align-self-end" Src="images/429_Mkht.jpg"></MudImage>
        </MudAvatar>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <MudNavMenu>
            <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
            <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
            <MudNavGroup Title="Settings" Expanded="true">
                <MudNavLink Href="/users"  Match="NavLinkMatch.Prefix">Users</MudNavLink>
                <MudNavLink Href="/security"  Match="NavLinkMatch.Prefix">Security</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
            <MudContainer MaxWidth="@MaxWidth.Medium" Color="Color.Primary" Class="my-4 px-0">
                @Body
            </MudContainer>
    </MudMainContent>
    <footer class="mt-10 pb-10">
        <MudContainer MaxWidth="@MaxWidth.Large">
            <MudText>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quaerat rem harum molestias et incidunt cupiditate, facilis dolorem perspiciatis asperiores illum. Velit sit nam placeat labore, at cumque vel quaerat?</MudText>
        </MudContainer>
    </footer>
</MudLayout>

@code {

    public int currentGems {get;set;} = 3200;
    MudTheme theme = new MudTheme(){

        Palette = new PaletteLight()
        {
            @* Primary = Colors.Grey.Darken4,
            Secondary = Colors.Amber.Darken2,
            TextPrimary = Colors.Grey.Lighten4,
            TextSecondary = Colors.Amber.Darken2,
            Background = Colors.Grey.Darken3,
            AppbarBackground = Colors.Grey.Darken4,
            DrawerBackground = Colors.Grey.Darken4,
            DrawerText = Colors.Grey.Lighten4 *@
            
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Amber.Darken2,
            Secondary = Colors.Grey.Darken4,
            TextPrimary = Colors.Grey.Lighten4,
            TextSecondary = Colors.Amber.Darken2,
            Background = Colors.Grey.Darken3,
            AppbarBackground = Colors.Grey.Darken4,
            DrawerBackground = Colors.Grey.Darken4,
            DrawerText = Colors.Grey.Lighten4,
            Surface = Colors.Grey.Darken4,
        },
    };

    bool _drawerOpen = false;
    bool _isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}