@inject IDialogService Dialog


<MudPaper Height="600px" Elevation="10" Outlined="true" Class="relative">
    <div class="banner-image @(Height == 1000?"lc":"")" style="background-image: url(@ImageSrc);"></div>
    <MudPaper Class="banner-info banner-name pa-2">
        <div class="d-flex flex-column">
        <MudText Typo="Typo.h6">Banner</MudText>
        <MudText Typo="Typo.subtitle2">Earthly Escapade</MudText>
        </div>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MenuOpen" aria-label="history" OnClick="OpenHistory"></MudIconButton>
    </MudPaper>

    <MudGrid Class="hueta" Spacing="5" Justify="Justify.SpaceAround">
        <MudItem Class="banner-pity" xs="4" sm="4" md="4" lg="4">
            <div class="d-flex leg">
                <MudText Typo="Typo.h4">@(BannerInfo.GuaranteedLegendary?"✔":"x")</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.h4">@BannerInfo?.CurrentLegendaryPity</MudText>
                <MudText Typo="Typo.subtitle2">/@(_bannerMaxPity[BannerInfo.BannerTypeId])</MudText>
            </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="4" sm="4" md="4" lg="4">
            <div class="d-flex epic">
                <MudText Typo="Typo.h4">@(BannerInfo.GuaranteedEpic ? "✔":"x")</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.h4">@BannerInfo?.CurrentEpicPity</MudText>
                <MudText Typo="Typo.subtitle2">/10</MudText>
            </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="5" sm="5" md="5" lg="5">

            @if (BannerInfo?.BannerTypeId == 11 || BannerInfo?.BannerTypeId == 12)
            {
                <div class="d-flex">
                    <MudText Typo="Typo.body1">Winrate</MudText>
                    <MudSpacer/>
                    <MudText Class="leg" Typo="Typo.body1">@((Math.Round(BannerInfo.CalculateWinrate(5), 1)).ToString("0.0"))%</MudText>
                </div>
            }
            <div class="d-flex">
                <MudText Typo="Typo.body1">Медианна</MudText>
                <MudSpacer/>
                <MudText Class="leg" Typo="Typo.body1">@(BannerInfo.CalculateMedianPity(5))</MudText>
            </div>
        </MudItem>
        <MudItem Class="banner-pity" xs="5" sm="5" md="5" lg="5">
            @if (BannerInfo?.BannerTypeId == 11 || BannerInfo?.BannerTypeId == 12)
            {
                <div class="d-flex">
                    
                    <MudText Typo="Typo.body1">Winrate</MudText>
                    <MudSpacer/>
                    <MudText Class="epic" Typo="Typo.body1">@((Math.Round(BannerInfo.CalculateWinrate(4), 1)).ToString("0.0"))%</MudText>
                </div>
            }
            <div class="d-flex">
                <MudText Typo="Typo.body1">Медианна</MudText>
                <MudSpacer/>
                <MudText Class="epic" Typo="Typo.body1">@(BannerInfo.CalculateMedianPity(4))</MudText>
            </div>
        </MudItem>
    </MudGrid>
</MudPaper>

<style>
    .banner-image {
        width: 100%; /* Ширина контейнера */
        height: 100%; /* Высота контейнера */
        @* background-image: url(@ImageSrc); /* Путь к вашему изображению */ *@
        filter: brightness(0.75);
        background-size: cover; /* Масштабирует изображение так, чтобы оно полностью покрывало фоновую область */
        background-position: center; /* Центрирует изображение в контейнере */
        background-repeat: no-repeat; /* Запрещает повторение изображения */
    }
    .lc {
        background-size: cover; /* Масштабирует изображение так, чтобы оно полностью покрывало фоновую область */
        @* background-position: 50% 35%; /* Центрирует изображение в контейнере */
        background-repeat: no-repeat; /* Запрещает повторение изображения */ *@
    }

    .banner-name{
        width:100%;
        display:flex;
        top:0;
        left:0;
    }
    .banner-pity{
        background-color: rgba(10,10,10,0.85);
        border-radius: 2rem;
        box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.85);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .leg{
        text-shadow: 1px 1px 5px var(--mud-palette-primary);
        color: var(--mud-palette-primary);
    }
    .epic{
        text-shadow: 1px 1px 5px rgb(176, 135, 255);
        color: rgb(176, 135, 255);
    }

    .banner-info{
        position:absolute;
        background-color: rgba(10,10,10,0.85);
        box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.85);
    }

    .hueta{
        position:absolute;
        margin:0;
        margin-bottom: 5px;
        bottom: 0;
        left:0;
        width:100%;
    }
</style>


@code{

    [Parameter]
    public string ImageSrc {get;set;}
    [Parameter]
    public UserBannerInfo BannerInfo {get;set;}

    private int Height => 500 * ( (BannerInfo?.BannerTypeId ?? -1) == (int)BannerTypeEnum.LIGHTCONE ? 2 : 1);

    private Dictionary<int, string> _bannerMaxPity = new Dictionary<int, string>(){
        {11, "90"},
        {1, "90"},
        {12, "80"},
        {2, "50"}
    };


    DialogOptions fullScreen = new DialogOptions() { FullScreen = true, CloseButton = true };

    public async Task OpenHistory(){
        var hren_w = BannerInfo.CalculateWinrate(5);
        var hren_m = BannerInfo.CalculateMedianPity(5);
        var parameters = new DialogParameters<WarpHistoryDialog> {{ x => x.BannerInfo, BannerInfo }};
        var dialog = await Dialog.ShowAsync<WarpHistoryDialog>("История прыжков", parameters, fullScreen);
    }


}