@using System.Text;
@inject HttpClient Http

<div class="d-flex flex-column justify-start">

    <MudTextField T="DateTime" ReadOnly="@true"  Label="Выбранная дата" Value="selectedDate" ValueChanged="UpdateSelectedDate" />
        <MudTextField @bind-Value='stellarJadesAmountForEvents' T="int" Label="Гемов за ивенты"   />
    <MudTextField T="int" Value="currentGems" ValueChanged="UpdateCurrentGems"  Label="Текущее количество гемов" />
        <MudSelect T="int" Label="Звезд в зеркале" AnchorOrigin="Origin.BottomCenter" Value="MoC_stars" ValueChanged="UpdateMoC">
            @for(int i=0; i<13;i++){
                <MudSelectItem  T="int" Value="i*3" />
            }
        </MudSelect>
        <MudSelect T="int" Label="Звезд в чистом вымысле" AnchorOrigin="Origin.BottomCenter" Value="PF_stars" ValueChanged="UpdatePF">
            @for(int i=0; i<13;i++){
                <MudSelectItem  T="int" Value="i*3" />
            }
        </MudSelect>
    <MudCheckBox T="bool" Checked="@month_pass" CheckedChanged="UpdateMonthPass" Label="Пропуск снабженца" Color="MudBlazor.Color.Primary" />
    <MudDivider class=mt-10></MudDivider>
    @*TEST*@
    <MudInputString @bind-Value='warp_url'/>
    <MudButton OnClick="@Test">
        <p>
            test
        </p>
    </MudButton>
    <div class="d-flex flex-row my-10">
        <div class="ml-16">
            <MudText
            Typo="Typo.h5"
            Align="@MudBlazor.Align.Start"
            Class="mx-auto">
                Итого звездного нефрита:
            </MudText>
            <div class="d-flex flex-row">
                <MudImage Width="32" Height="32" Src="images/stellarJade.webp"></MudImage>
                <MudText Typo="Typo.h5" Class="mr-4" Color="MudBlazor.Color.Primary">@(resultStellarJades)</MudText>
                <MudText Typo="Typo.h5" Class="mr-4">=</MudText>
                <MudImage Width="32" Height="32" Src="images/warp.webp"></MudImage>
                <MudText Typo="Typo.h5" Class="mr-4" Color="MudBlazor.Color.Primary">@(resultStellarJades/160)</MudText>
                <MudImage Width="32" Height="32" Src="images/stellarJade.webp"></MudImage>
                <MudText Typo="Typo.h5" Class="mr-4" Color="MudBlazor.Color.Primary">@(resultStellarJades%160)</MudText>
            </div>
        </div>
        <MudSpacer/>
        <div class="mr-16">
            @if(chances != null && chances.Count()==90){
                <MudText Typo="Typo.h5" Align="@MudBlazor.Align.Start" Class="mx-auto">
                        Шанс:
                 </MudText>
                @if (resultStellarJades / 160 <= 0)
                {
                    <MudText Typo="Typo.h5" Align="@MudBlazor.Align.Start" Class="mx-auto" Color="MudBlazor.Color.Primary">
                        0.0%
                    </MudText>
                }
                @if (resultStellarJades/160 >= 90)
                {
                    <MudText Typo="Typo.h5" Align="@MudBlazor.Align.Start" Class="mx-auto" Color="MudBlazor.Color.Primary">
                        100.0%
                    </MudText>
                }
            @if (resultStellarJades / 160 > 0 && resultStellarJades / 160 < 90)
            {
                <MudText Typo="Typo.h5" Align="@MudBlazor.Align.Start" Class="mx-auto" Color="MudBlazor.Color.Primary">
                    @(Math.Round(chances[(resultStellarJades/160)]*100, 4))%
                </MudText>
            }
            }
        </div>
    </div>

</div>
@code{

    [Parameter]
    public List<PatchDTO> patches {get; set;}

    [Parameter]
    public Dictionary<int, double> chances {get; set;}

    [Parameter]
    public int currentGems {get;set;}
    [Parameter]
    public DateTime selectedDate {get; set;}
    [Parameter]
    public bool month_pass { get; set; }
    [Parameter]
    public int MoC_stars {get;set;}
    [Parameter]
    public int PF_stars {get;set;}
    [Parameter]
    public EventCallback<ProfilePutRequestDTO> OnProfileDataChanged {get;set;}

    public int dailyIncom {get {
        return month_pass ? 150 : 60;
    }}
    public int stellarJadesAmountForEvents {get; set;} = 0;
    public int resultStellarJades => currentGems + stellarJadesAmountForEvents + MoC_stars * 20 + (selectedDate - DateTime.Today).Days * dailyIncom;


    public async Task UpdateCurrentGems(int value){
        currentGems = value;
        await UpdateProfile(_currentGems:value);
    }
    public async Task UpdateSelectedDate(DateTime value){
        selectedDate = value;
        await UpdateProfile(_selectedDate:value);
    }
    public async Task UpdateMonthPass(bool value){
        month_pass = value;
        await UpdateProfile(_month_pass:value);
    }
    public async Task UpdateMoC(int value){
        MoC_stars = value;
        await UpdateProfile(_MoC_stars:value);
    }
    public async Task UpdatePF(int value){
        PF_stars = value;
        await UpdateProfile(_PF_stars:value);
    }

    public async Task UpdateProfile(int? _currentGems = null, DateTime? _selectedDate= null, bool? _month_pass= null, int? _MoC_stars= null, int? _PF_stars = null){
        
        @* if(_currentGems != null){
            currentGems = _currentGems ?? 0;
        }
        if(_selectedDate != null){
            selectedDate = _selectedDate ?? DateTime.Today;
        }
        if(_month_pass != null){
            month_pass = _month_pass ?? false;
        }
        if(_MoC_stars != null){
            MoC_stars = _MoC_stars ?? 0;
        }
        if(_PF_stars != null){
            PF_stars = _PF_stars ?? 0;
        } *@

        
        var data = new ProfilePutRequestDTO(){
            CurrentJades=_currentGems,
            SelectedDate = _selectedDate,
            SupplyPass = _month_pass,
            MoCStars = _MoC_stars,
            PfStars = _PF_stars
        };
        await OnProfileDataChanged.InvokeAsync(data);
    }

    string warp_url = "";


    private async Task Test(){

        @* var content = new StringContent(warp_url, Encoding.UTF8, "text/plain"); *@
        var hren = await Http.PostAsJsonAsync<string>("/api/warp/parse", warp_url);

    }
    @* public void set_checkbox(bool value)
    {
        month_pass = value;
    } *@
    
    
    private int calculateEventStellarJadeBySelectedDate(){
        int result = 0;
        var dateRange = new EventDateRange(DateTime.Today, selectedDate);

        foreach(var patch in patches.Where(p => selectedDate >= p.ReleaseDate)){
            foreach(var patchEvent in patch.Events){
                //рефактор модели ивента, посчитать через сколько дней доступны все награды
                if(dateRange.IsDateInRange(patchEvent.StartDate.AddDays(7))){ //если прошло больше недели с начала ивента и открылись все награды
                    result+=patchEvent.StellarJadesAmount;
                }
            }
        }
        return result;
    }
}