@page "/"


<MudText Typo="@Typo.h3" Color="MudBlazor.Color.Primary">Stellar Jade Manager</MudText>
<MudText Typo="@Typo.h4">Добро пожаловать!</MudText>

<div style="height:200px">
    <MudImage
        Src="images/emotes/Kafka 1.png"
        ObjectFit="@ObjectFit.Cover"
              Style="max-height: 100%;width: auto;aspect-ratio:1;"
        Fluid
        Class="mt-5 rounded-lg" />
</div>
<MudDivider Class="my-10"/>
<div class="d-flex flex-wrap justify-center align-center gap-10" style="height:400px;width:80%">
    @*

    <div class="d-flex flex-column justify-center align-center" style="height:100%;background-color:var(--mud-palette-surface)">
        <div style="height:60%">
            <MudImage Src="images/background.webp"
                      ObjectFit="@ObjectFit.Cover"
                      Style="max-height: 100%;width: auto;aspect-ratio:2;"
                      Fluid
                      />
        </div>
        <MudContainer Class="pa-5" Style="height:40%;">
            <MudText Typo="Typo.h6">Калькулятор</MudText>
            <MudText Typo="Typo.subtitle2">Подсчитайте чистый дохо звездного нефрита.</MudText>
            <MudText Typo="Typo.subtitle2">Спрогнозируйте шансы получить легендарного персонажа</MudText>
            <MudLink Color="MudBlazor.Color.Primary" Typo="Typo.button" Href="/calculator">Перейти</MudLink>
        </MudContainer>
    </div>
    *@
    <MudCard>
        <MudCardMedia Image="images/background.webp" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Калькулятор</MudText>
            <MudText Typo="Typo.subtitle2">Подсчитайте чистый дохо звездного нефрита.</MudText>
            <MudText Typo="Typo.subtitle2">Спрогнозируйте шансы получить легендарного персонажа</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudNavLink Href="/calculator">Перейти</MudNavLink>
        </MudCardActions>
    </MudCard>
    <MudCard>
        <MudCardMedia Image="images/background.webp" Height="200"/>
        <MudCardContent>
            <MudText Typo="Typo.h5">Калькулятор</MudText>
            <MudText Typo="Typo.subtitle2">Подсчитайте чистый дохо звездного нефрита.</MudText>
            <MudText Typo="Typo.subtitle2">Спрогнозируйте шансы получить легендарного персонажа</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudNavLink Href="/calculator">Перейти</MudNavLink>
        </MudCardActions>
    </MudCard>
    
</div>
@*

<div class="d-flex flex-wrap justify-center align-center gap-10" style="height:400px;width:80%">

<div  style="height:100%">
<MudImage
    Src="images/2_2.webp"
    ObjectFit="@ObjectFit.Cover"
    Style="max-height: 100%;width: auto;aspect-ratio:2;"
    Fluid
    Class="rounded-lg" />
</div>

<MudCarousel  Style="height:100%;aspect-ratio:1" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Fade">
        <MudImage Src="images/characters-full/1315.png"
            ObjectFit="@ObjectFit.Cover"
            Style="aspect-ratio:1;"
            Class="rounded-lg"
            Fluid

        />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade">
        <MudImage Src="images/characters-full/1309.png"
            ObjectFit="@ObjectFit.Cover"
            Style="aspect-ratio:1;"
            Class="rounded-lg"
            Fluid
        />
    </MudCarouselItem>
</MudCarousel>

</div>
*@

<style>
    .banner-image{
        background-repeat:no-repeat;
        background-size: 200% 200%;
        background-position: 50% 35%;
    }
    .banner-1{
        background-image: url("images/characters-full/1315.png");
    }

    .banner-2 {
        background-image: url("images/characters-full/1309.png");
    }
</style>

@code{}
